.footer {
    width: 100%;
    background: #fff;
    min-height: 7.9rem;
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #AEB8FE;
    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -0.5rem;
    }
    &__item {
      text-align: center;
      color: #333;
      margin: 0 0.5em;
      word-break: normal;
      svg {
        width: 3rem;
        height: 3rem;
        fill: #333;
        margin: 0 auto 0.3rem;
      }
      &:hover, &.active {
        color: $second-color;
        svg {
          fill: $second-color;
        }
      }
    }
    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        display: block;
        font-size: 1.5rem;
        margin-right: 12px;
      }
      a {
        min-height: 2.8rem;
        padding: 0.5rem 1.2rem 0.5rem 3.6rem;
        display: flex;
        align-items: center;
        color: #ffffff;
        border-radius: 37px;
        background: url(../img/icons/telegram.svg) center left 12px/17px 14px no-repeat, #2AABEE;
      }
    }
  }