.header {
    padding: 1.65rem 0;
    background: #ffffff;
    &__logo {
      margin: 0 auto;
    }
    &__back {
      display: inline-flex;
      align-items: center;
      font-size: 1.5rem;
      color: #000000;
      svg {
        flex: 0 0 9px;
        width: 9px;
        height: 15px;
        stroke: #000000;
        margin-right: 10px;
      }
    }
    @media (min-width: 720px) {
      &__logo {
        transform: scale(1.5);
      }
    }
  }