@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
button,
input,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
}

ol,
ul,
li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #BEBEBE;
}

blockquote {
  margin-bottom: 8px;
}

ol li:last-child,
ul li:last-child {
  margin-bottom: 0 !important;
}

b,
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

figure figcaption {
  margin-top: 8px;
}

figure img {
  margin: 0;
}

img,
figure,
svg,
video,
iframe {
  display: block;
  max-width: 100%;
}

svg {
  max-height: 100%;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
}

a,
button,
input,
textarea {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  width: 100%;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

*::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  opacity: 1;
}

*::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  opacity: 1;
}

*:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  opacity: 1;
}

*::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  opacity: 1;
}

*::placeholder {
  font-family: "Roboto", sans-serif;
  opacity: 1;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  background: #e1e5f2;
}

body {
  min-width: 320px;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 720px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background: #E1E5F2;
  overflow: hidden;
}

.header + .main {
  border-radius: 16px 16px 0 0;
}

.page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page__inner {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
  padding: 0 20px;
  margin: 20px 0 16px;
}

.page__bottom .main-btn {
  margin: 0 20px 16px;
}

.soc-page {
  padding: 16px 0;
  background: #fff;
}

.soc-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.soc-page__lbl {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 125.188%;
  max-width: 202px;
  margin-right: 10px;
}

.soc-page__btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 106px;
  flex: 0 0 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0B78B0;
  font-size: 14px;
  font-weight: 500;
}

.soc-page__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  background: linear-gradient(45deg, #229ED9, #2AABEE);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 9px;
}

.soc-page__icon img {
  width: 19px;
  height: auto;
  margin-right: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: #27187E;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: #27187E;
  margin-bottom: 6px;
}

h5 {
  font-size: 15px;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, 0.6);
}

h6 {
  font-size: 14px;
  margin-bottom: 6px;
}

p {
  color: #333;
  margin-bottom: 12px;
}

p:last-child {
  margin-bottom: 0;
}

.text-sm {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 14px;
}

.page-header {
  margin-bottom: 16px;
}

.media-cover {
  position: relative;
  overflow: hidden;
}

.media-cover img,
.media-cover video,
.media-cover iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.media-contain {
  position: relative;
  overflow: hidden;
}

.media-contain img,
.media-contain video,
.media-contain iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #27187E;
  border-radius: 59px;
  text-align: center;
}

.swiper {
  min-width: 0;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background: #ffffff;
}

.swiper-slide-active {
  z-index: 2;
}

.file-form label {
  display: inline-block;
}

.file-form label input {
  display: none;
}

.file-form label span {
  font-size: 14px;
  line-height: 1.2;
  color: #27187E;
  padding: 9px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 59px;
  background: #ffffff;
  cursor: pointer;
}

.file-form label span:before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18px;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  background: url(../img/icons/file.svg) center/contain no-repeat;
  margin-right: 10px;
}

.file-form__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin-right: -20px;
  scrollbar-width: none;
}

.file-form__images::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.file-form__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.file-form__file:first-child {
  margin-top: 16px;
}

.file-form__image {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  margin-right: 10px;
  margin-top: 16px;
}

.file-form__image:last-child {
  margin-right: 20px;
}

.file-form__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}

.file-form__image .file-form__del {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 2;
}

.file-form__name {
  font-size: 14px;
  line-height: 1.2;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 16px;
}

.file-form__del {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(../img/icons/trash.svg) center/15px 15px no-repeat, #ffffff;
  cursor: pointer;
}

.item-form {
  margin-bottom: 28px;
}

.item-form [data-error] {
  padding-top: 8px;
  color: #E8464E;
}

.item-form [data-error]:empty {
  display: none;
}

.item-form p {
  font-size: 15px;
  line-height: 1.2;
}

.item-form.error input {
  border: 1px solid #E8464E;
}

.item-form__lbl {
  margin-bottom: 8px;
}

.file-download {
  min-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px;
}

.file-download a {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  padding: 5px 4px 5px 5px;
  background-color: #AEB8FE;
  border-radius: 50%;
  margin-left: 10px;
}

.file-download svg {
  fill: #fff;
  margin-left: 0;
}

.file-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.file-images .media-cover {
  display: none;
  padding-top: 100%;
  border-radius: 8px;
}

.file-images .media-cover:nth-child(-n+2) {
  display: block;
}

.file-images .btn {
  padding: 4px 8px;
  border-radius: 35px;
  background: #AEB8FE;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-left: 10px;
}

.file-images__row {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form input,
.form textarea {
  padding: 10px 14px;
  border: 1px solid #27187E;
  border-radius: 8px;
  font-size: 15px;
  color: #000;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form input::-moz-placeholder,
.form textarea::-moz-placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form input::placeholder,
.form textarea::placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form textarea {
  height: 113px;
  resize: vertical;
  overflow: hidden;
}

.form .main-btn {
  width: 100%;
}

.form .main-btn.disabled,
.form .main-btn:disabled {
  pointer-events: none;
  opacity: 0.4;
}

.form__items {
  display: grid;
  grid-template-columns: 1fr 119px;
  gap: 16px;
}

.form__footer {
  margin-top: 40px;
}

.form__footer .text-sm {
  max-width: 278px;
  margin: 16px auto 0;
}

.time {
  display: block;
  font-size: 12px;
  line-height: 1;
  color: #707579;
  text-align: right;
}

.item-block {
  display: block;
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid transparent;
  position: relative;
  color: inherit;
}

.item-block--icon:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}

.item-block--icon.chevron {
  padding-right: 33px;
}

.item-block--icon.chevron:after {
  width: 9px;
  height: 15px;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/icons/chevron-right.svg) center/contain, no-repeat;
}

.item-block--icon.pin {
  padding: 12px 24px 12px 16px;
}

.item-block--icon.pin p {
  font-size: 15px;
  color: #000;
  line-height: 1.2;
}

.item-block--icon.pin:after {
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  background: url(../img/icons/pin.svg) center/contain, no-repeat;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.item-block--icon.pin.pinned {
  border-color: #FF8600;
  -webkit-box-shadow: 0px 9px 37px 0px rgba(255, 134, 0, 0.25);
  box-shadow: 0px 9px 37px 0px rgba(255, 134, 0, 0.25);
}

.item-block--icon.pin.pinned:after {
  opacity: 1;
}

.item-block--contacts p {
  font-size: 15px;
  line-height: 1.2;
  opacity: 0.6;
}

.item-block a {
  color: #27187E;
}

.item-block__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item-block__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 12px -8px -12px;
}

.item-block__contacts a {
  font-size: 18px;
  margin: 0 8px 12px;
}

.item-block__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 16px -8px -12px;
}

.item-block__status,
.item-block__date {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  padding: 4px 10px;
  border-radius: 35px;
  margin: 0 8px 12px;
}

.item-block__status {
  color: #fff;
}

.item-block__status.submited {
  background: #5465FF;
}

.item-block__status.progress {
  background: #EA7317;
}

.item-block__status.fulfilled {
  background: #25A18E;
}

.item-block__date {
  color: #27187E;
  border: 1px solid rgba(39, 24, 126, 0.6);
}

[data-fancybox] {
  cursor: pointer;
}

.fancybox__thumbs,
.fancybox__button--zoom,
.fancybox__button--slideshow,
.fancybox__button--fullscreen,
.fancybox__button--thumbs {
  display: none;
}

.fancybox__content img {
  border-radius: 8px;
}

.header {
  padding: 16.5px 0;
  background: #ffffff;
}

.header__logo {
  margin: 0 auto;
}

.header__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  color: #000000;
}

.header__back svg {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 9px;
  flex: 0 0 9px;
  width: 9px;
  height: 15px;
  stroke: #000000;
  margin-right: 10px;
}

.unsubscribe p {
  font-size: 14px;
  margin-bottom: 16px;
}

.unsubscribe .main-btn {
  margin-top: 40px;
}

.application .text-sm {
  max-width: 258px;
  margin: 40px auto 20px;
}

.dialog .item-block {
  margin: 0 15px 16px;
  padding: 14px;
  position: relative;
  border: none;
}

.dialog .item-block:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  bottom: 11px;
}

.dialog .item-block.is-in:after {
  left: -15px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dialog .item-block.is-out:after {
  right: -15px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.dialog .item-block__date {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}

.dialog .progress {
  color: #ea7317;
}

.dialog .fulfilled {
  color: #25A18E;
}

.notfound img,
.success img {
  margin: 0 auto 20px;
}

.notfound .page__inner,
.success .page__inner {
  padding: 117px 20px 24px;
}

.notfound__content,
.success__content {
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.notfound__content span,
.success__content span {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  color: #27187E;
  margin-bottom: 20px;
}

.notfound__content p,
.success__content p {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 32px;
}

.footer {
  width: 100%;
  background: #fff;
  min-height: 79px;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #AEB8FE;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -5px;
}

.footer__item {
  text-align: center;
  color: #333;
  margin: 0 5px;
}

.footer__item svg {
  width: 30px;
  height: 30px;
  fill: #333;
  margin: 0 auto 3px;
}

.footer__item:hover,
.footer__item.active {
  color: #FF8600;
}

.footer__item:hover svg,
.footer__item.active svg {
  fill: #FF8600;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__info span {
  display: block;
  font-size: 15px;
  margin-right: 12px;
}

.footer__info a {
  min-height: 28px;
  padding: 5px 12px 5px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  border-radius: 37px;
  background: url(../img/icons/telegram.svg) center left 12px/17px 14px no-repeat, #2AABEE;
}

@media (max-width: 320px) {
  body {
    zoom: 90%;
  }

  .container {
    padding: 0 10px;
  }

  .page__inner {
    padding: 0 10px;
  }

  .file-form__images {
    margin-right: -10px;
  }

  .file-form__image:last-child {
    margin-right: 10px;
  }

  .compensate-for-scrollbar {
    padding-right: 0 !important;
  }
}